<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org " xmlns:sec="www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Twitter</title>

        <th:block th:replace="base :: head"></th:block>
    </head>
    <body>
        <th:block th:replace="base :: nav"></th:block>

        <div class="container">
            <br /><br />
			  <br /><br />
			    <br /><br />
            <div th:if="${imageurl} != null">
	            <form action="/filter" >
	            	<img th:src="${imageurl}" />
	            	<input type="hidden" name ="imagename" th:value="${imagename}" /></br></br></br>
	            	<h3>Filter your picture</h3>
	            	<div><label> Width: <input type="text" name="width"  value="250" class="form-control"/> </label></div>
	            	<div><label> Height: <input type="text" name="height"  value="250" class="form-control"/> </label></div>
	            	<div><label> crop: <input type="radio" name="action"  value="crop" class="form-control"/> </label></div>
	            	<div>
	            	<select name="filter" >
	            		<option value="grayscale" >Grayscale</option>
					    <option value="sepia">Sepia</option>
					</select>
					 </div>
					  <br/>
					  <div><button class="btn btn-lg btn-primary" type="submit" >Preview</button></div>
	            	
	            </form>
	          
        	</div>
        </div>
        
        
         <div align="center"  th:if="${sizedimageurl} != null">
                <ul>
               		 <div th:utext="${sizedimageurl}"></div>
                </ul>
                <div>
	                <form action="/save"  method="post">
	                	<input type="hidden" name="imagename" th:value="${imagename}"/>
	                	<input type="hidden" name="sizedimageurl" th:value="${sizedimageurl}"/>
						<div><button class="btn btn-lg btn-primary" type="submit" >Save</button></div><br/>
						
					</form>
				</div>
				<div>	
					<form action="/upload" >
						<div><button class="btn btn-lg btn-primary" type="submit" >Cancel</button></div>
						
					</form>
                </div>
                
            </div>
             

        <th:block th:replace="base :: footlinks"></th:block>
    </body>
</html>